<div class="contain">
        <h1>Binding bidirezionale</h1>
        <p>
            Questo binding tiene conto delle due parti, se viene aggiornata la proprietà nel
            modello essa viene passata anche al template. Stessa cosa vale per il template.
            Questo tipo di binding viene utilizzato solitamente quando si utilizzano dei
            form. IMPORTANTE: Bisogno importare il FormsModule e l'NgModel nel AppModule.
        </p>
<input {(ngModel)} type="text">
{{nome}}        
</div>

