.footer{
    width: 100%;
    height:70px;
    background-color:#003298;
    bottom:0;
    position:fixed;
.copy{
    width:40px;
    margin-left: 50%;
    margin-top:30px;
}
span{
    margin-top: 27px;
    color: white;
    position: fixed;
}
}