<div class="contain">
        <h1>Binding unidirezionale</h1>
        <h5>Dal modello al template</h5>
        <p>Vogliamo visualizzare o legare informazioni del modello al template. Per
            esempio vogliamo modificare qualche proprietà del DOM aggiungendo classi,
            proprietà o più semplicemente ci interessa stampare qualche valore.</p>
        <p>
            <img src="/assets/Cattura.PNG"></p>
<h5>Il mio nome è {{nome}} --> string interpolation semplice</h5>
<h5>{{2+2}} --> operazione matematica tra interpolation</h5>
<h5>{{"Welcome "+ nome}} --> concatenazione tra interpolation</h5>
<h5>{{nome.length}}--> utilizzo proprietà length tra interpolation</h5>
<h5>{{nome.toUpperCase()}} --> utilizzo uppercase tra interpolation</h5>
<h5>{{Io()}} --> richiamo la funzione del ts tra string interpolation</h5>
<h5>{{urlSito}}--> visualizzo l'url del sito che la richiamo dal ts </h5>

<h1>Input </h1>
<input type="text" value="Lorena Priolo"> <p>per visualizzare i dati dentro il value, digitare in console--> $0.getAttribute('value')</p>
<p>per visualizzare i dati dentro il value e anche modificati direttamente dal sito, digitare in console --> $0.value</p>
<input id="{{myId}}" [disabled]="true" type="text" value="Lorena Priolo">
<p>string interpolation dell'id dentro l'input con pulsante disabilitato</p>

<h1>Class binding </h1>
<h2 class="text-success">Prova</h2> prende il colore dalla classe del css
<h2 [class]="successClass">Prova2</h2> prende il colore dalla variabile del ts
<a routerLink="/NgClass" routerLinkActive="active" >NgClass</a>
<h2 [ngClass]="messageClasses">Ng class</h2> prende lo stile dalle classi che sono true nel ts 
<h1>Style Binding</h1>
<h2 [style.color]="hasError ? 'red' : 'blue'">Style binding 1</h2> condizione, se nel ts la variabile è a true prende il colore rosso altrimenti prende il blu
<h2 [style.color]="highlightColor">Style binding 2</h2> prende il colore dalla variabile del ts highlightColor 
<h2 [ngStyle]="titleStyles">Style Binding 3</h2> prende lo stile dalla variabile titleStyles del ts
<h1>Event binding </h1>
<h5>Dal template al modello</h5>
<p>In questo caso, invece, vogliamo legare qualche informazione riguardante il
    DOM al modello, per esempio al click del bottone vogliamo che venga fatto
    qualcosa.
</p>
<button (click)="onClick()">Evento in console</button>
<button (click)="onClick2($event)">Click</button>
<button (click)="evento2='assegna direttamente la stringa dal template'">Click2</button>
<h2>{{evento}}</h2>
<h2>{{evento2}}</h2>
<h1>Referenze</h1>
<input #myInput type="text" value="guarda la console">
<button (click)="logMessage(myInput.value)">Log</button>


</div>