.contain{
    margin-left:25px;
    height:2000px;
    margin-top: 100px;
    h1{
        color:#142c5c;
        text-align: center;
    }
    h5{
        justify-content:center;
    }
    .text-success{
        color: brown;
        border-color: 1px, solid, pink;
    }
    .text-danger{
        color: #142c5c;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight:bold;
    }
    .text-special{
        color: rgb(255, 0, 179);
        font-size:20px;
    }
   

}