.header {
    width: 100%;
    height: 100px;
    top: 0;
    position: relative;

    .container {
        background-image: url("/assets/sfondo.jpg");
        opacity: 0.8;
        position: fixed;
        width: 2000px;
        .logo {
            width: 60px;
            margin-top: 10px;
            margin-left: 10px;
            z-index: 3;
        }

        .menu {
            right: 40px;
            position: fixed;
            margin-top: -30px;
            display: flex;
            flex-direction: row;
            font-size: 20px;

            li {
                display: inline-block;
                margin-left: 80px;
                list-style: none;
                font-family: 'Kaushan Script', cursive;
                
                vertical-align: top;
                overflow: hidden;
                position: relative;
                &:hover {
                    overflow: visible;
                }
                .material-icons {
                    color: #ffffff;
                    position: fixed;
                    margin-left: -23px;
                    margin-top: 8px;
                    font-size: 15px;
                }

                a {
                    color: white;
                    text-decoration: none;
                    text-align:center;
                    &:hover {
                        color: black;
                    }

                }
                ul {
                    list-style: none;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    
                   
                    
                li{
                    text-align:left;
                    margin-left:-40px;
                    background-color:#ffffff;
                    padding:6px;
                    font-size: 15px;
                    width: 89px;
                    top:2px;
                    &:hover{
                        background-color:#142c5c;
                    }
                    a{
                        color: black;
                        
                        text-align: center;
                        &:hover{
                            color:#ffffff;
                            
                        }
                   
                    }
                }
           
                }

            }
        }
    }
}
