<div class="header">
<div class="container">
<a routerLink="/" routerLinkActive="active"><img class="logo" src="assets/dadi.png"></a>
        <ul class="menu">    
        <li>
        <i class="material-icons">settings_phone</i><a routerLink="/Chiamate" routerLinkActive="active"> Chiamate</a>
            <ul>
                <li><a href="#">
                    servizi</a>
                </li>
                <li><a href="#">
                        get</a>
                    </li>
                    <li><a href="#">
                            post</a>
                        </li>
            </ul>
        </li>
     
        <li>
            <i class="material-icons swap">swap_horiz</i><a routerLink="/Direttive" routerLinkActive="active"> Direttive</a>
            <ul>
                <li>
                        <a href="#"> Ng If</a>
                </li>
                <li>
                        <a href="#">  Ng For </a>
                </li>
                <li>
                        <a href="#">  Ng Class  </a>
                </li>
                <li>
                        <a href="#"> Ng Style  </a>
                </li>
                <li>
                        <a href="#">  Ng Switch </a>
                </li>
            </ul>   
        </li>

        <li>
            <i class="material-icons">web</i><a routerLink="/Forms" routerLinkActive="active"> Le Forms</a>
        <ul >
            <li>
                    <a href="#">template </a>
            </li>
            <li>
               <a href="#"> reactive</a>
            </li>
        </ul>      
        </li>
    
        <li>
            <i class="material-icons">settings_ethernet</i><a routerLink="/Binding" routerLinkActive="active"> Binding</a>
            <ul>
                <li>
                        <a routerLink="/Oneway" routerLinkActive="active"> one way </a>
                </li>
                <li style="font-size:14px;">
                        <a routerLink="/Twoway" routerLinkActive="active">two way</a>
            </ul>
        </li> 
        <li><i class="material-icons">360</i><a routerLink="/Varie" routerLinkActive="active"> Varie</a></li>
        </ul>
</div>
</div>