<div class="contenitore">
    <h1>Binding</h1>
    <h5>Il binding in Angular può essere di due tipi:</h5>
    <p>
        <a routerLink="/Oneway" routerLinkActive="active">
            - Binding unidirezionale --> anche detto one way data binding</a>
    </p>
    <p>
        <a routerLink="/Twoway" routerLinkActive="active">
            - Binding bidirezionale --> anche detto two way data binding</a>
    </p>
    
    </div>