.contenitore {
    height: 900px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;

    h1 {
        text-align: center;
        color: #142c5c;
    }
    h5 {
        text-align: center;
    }
    p {
        text-align: justify;
        justify-content: center;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: #142c5c;
            }
        }

    }
}
